<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Person manage</title>
</head>
<body>
<div class="container">
    <h1>Add Person</h1>
    <br>
    <form action="#" th:action="@{/savePerson}" th:object="${person}" method="POST">
        <input type="text" th:field="*{identifier}"
               placeholder="Person identifier" class="form-control mb-4 col-4">
        <input type="text" th:field="*{address}"
               placeholder="Address" class="form-control mb-4 col-4">
        <input type="text" th:field="*{fullName}"
               placeholder="Full Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{phone}"
               placeholder="Phone number" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}"
               placeholder="Email" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Add New Person</button>
    </form>
</div>

</body>
</html>